* {
  box-sizing: border-box;
}

body {
  padding: 15px 0;
  margin: 0 auto;
}
.container {
  width: 100%;
}
#mapVisualize {
  width: 100%;
  height: 800px;
  border-radius: 5px;
}

.map-popup-content {
  width: 300px;
}

.map-popup-content .left {
  float: left;
  width: 40%;
}
.map-popup-content .left img {
  width: 100%;
  height: 100px;
  margin: -15px 0 -15px -20px;
  border-radius: 12px;
}

.map-popup-content .right {
  float: left;
  width: 60%;
}

.clearfix {
  clear: both;
}

#holder {
  border: 10px dashed #ccc;
  width: 100%;
  height: 300px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#holder.hover {
  border: 10px dashed #333;
}

#wrapper-drag {
  width: 100%;
}

.list-solutions {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 5px;
}
.solution {
  width: 100px;
  margin: 10px 30px;
  outline: none;
}
.solution:focus {
  border-color: #46b8da !important;
  color: #46b8da !important;
  background-color: #fff !important;
}

*:focus {
  outline: none !important;
}

.chart-item {
  width: 100%;
  height: fit-content;
}

.chart-wrapper {
  /* height: fit-content; */
}

.chart-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 10px;
}

#detail-content {
  width: 300px;
  height: 200px;
  position: fixed;
  z-index: 1000;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.list-vehicle {
  width: 100%;
  /* height: fit-content; */
  /* margin-top: 20px; */
  /* padding: 1px 10px; */
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 5px;
}

.vehicle-item {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  cursor: pointer;
}

.vi-name {
  width: 10%;
  padding: 5px 20px;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.vi-name p {
  margin-bottom: 0;
}

.vi-content {
  width: 90%;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
}

.vi-content li {
  list-style-type: none;
  background-color: #eee;
  margin: 5px;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.vi-content li span {
  /* background-color: #fff; */
  margin: 0 2px;
  padding: 5px;
  border-radius: 3px;
  font-size: 18px;
  color: #eee;
  min-width: 90px;
  text-align: center;
}

.vi-content li span:nth-child(2),
span:nth-child(3) {
  margin-left: 20px !important;
}

.dry {
  background-color: orangered;
}

.cold {
  background-color: cornflowerblue;
}

.ice {
  background-color: navy;
}

.active {
  position: relative;
  animation-name: toggleUp;
  animation-duration: 0.6s;

  box-shadow: 0 8px 6px -6px black;
  margin: 10px -5px 10px -5px;
}

@keyframes toggleUp {
  0% {
    top: 0px;
  }
  10% {
    top: -1px;
  }
  20% {
    top: -2px;
  }
  30% {
    top: -4px;
  }
  40% {
    top: -6px;
  }
  50% {
    top: -8px;
  }
  60% {
    top: -9px;
  }
  70% {
    top: -8px;
  }
  80% {
    top: -6px;
  }
  90% {
    top: -4px;
  }
  100% {
    top: -3px;
  }
}

.lable-map {
  /* width: 50px; */
}
.lable-map span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 5px;
}

.chart-note {
  margin: 0 10px;
}
.chart-note span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

#option-wrap .checkbox {
  display: none;
}
.atv-solution {
  background-color: #fff;
  color: #46b8da;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  width: 130px;
}

.chart-item {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}
